body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #b45309;
    font-size: 40px;
    
}

.divide {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 30px auto;

    height: 385px;
    width: 575px;
    background-color: #f59e0b;
    border-radius: 10px;
    border: 3px solid #b45309;
}

.score {
    height: 120px;
    width: 155px;
    margin: 0 auto;
    font-size: 100px;
    text-align: center;

    background-color: #080001;
    border-radius: 5px;
}

.points {
    height: 45px;
    width: 200px;
    margin: 20px auto 0px;
    display: flex;
    justify-content: space-around;
    
 
}

button {
    height: 45px;
    width: 45px;
    display: flex;
    font-size: 24px;
    color: #b45309;
    justify-content: center;
    align-items: center;

    background-color: #f59e0b;
    border: 2px solid #b45309;
    border-radius: 5px;
   
}

#new-game{
    width: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* had to use an id selector to override the styles 
from the button element. i did not plan to add a new game button.
i don't think styling the buttons by the element was a good choice.
i originally used their classes but wanted to condense a bit.
i could re-do it but i made it work well enough for the scope of this practice. */